<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @show.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @show.description %>
</p>

<p>
  <strong>Responsible DJs:</strong>
  <%= @show.djs.map(&:real_name).join(", ") %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
