<p id="notice"><%= notice %></p>

<h1>Listing Djs</h1>

<table>
  <thead>
    <tr>
      <th>Net</th>
      <th>Email</th>
      <th>Dj name</th>
      <th>Real name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @djs.each do |dj| %>
      <tr>
        <td><%= dj.net_id %></td>
        <td><%= dj.email %></td>
        <td><%= dj.dj_name %></td>
        <td><%= dj.real_name %></td>
        <td><%= dj.description %></td>
        <td><%= link_to 'Show', dj %></td>
        <td><%= link_to 'Edit', edit_dj_path(dj) %></td>
        <td><%= link_to 'Destroy', dj, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dj', new_dj_path %>
