<div class="container">
<p id="notice"><%= notice %></p>
</div>

<div class="container">
  <h1 class="text-center">All Radio DJs</h1>

    <% @djs.order(dj_name: :asc).each_slice(4) do |dj_row| %>
    <div class="row">
      <% dj_row.each do |dj| %>
      <div class="col-sm-3">

        <img src="<%=Faker::Avatar.image(Random.rand(1000),"300x200")%>" class="img-responsive" alt="Responsive image">

        <h3><%= dj.dj_name %><br><small>(<%= dj.real_name %>)</small></h3>

        <p><%= link_to "edit", edit_dj_path(dj) %> | 
          <%= link_to "delete", dj, method: :delete, data: { confirm: 'Are you sure?' } %></p>

        <p><%= dj.description %></p>

      </div>
      <% end %>
      </div>
    <% end %>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <%= button_to "Create new DJ", new_dj_path, :method => :get, class: 'btn btn-primary btn-block btn-lg' %>
 </div>
</div>


</div>


