<p id="notice"><%= notice %></p>

<p>
  <strong>Net:</strong>
  <%= @dj.net_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dj.email %>
</p>

<p>
  <strong>Dj name:</strong>
  <%= @dj.dj_name %>
</p>

<p>
  <strong>Real name:</strong>
  <%= @dj.real_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dj.description %>
</p>

<p>
  <strong>Associated Shows:</strong>
  <%= @dj.shows.map(&:title).join(", ") %>
</p>

<%= link_to 'Edit', edit_dj_path(@dj) %> |
<%= link_to 'Back', djs_path %>
