<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @episode.name %>
</p>

<p>
  <strong>Recording url:</strong>
  <%= @episode.recording_url %>
</p>

<p>
  <strong>Downloadable:</strong>
  <%= @episode.downloadable %>
</p>

<p>
  <strong>Online listens:</strong>
  <%= @episode.online_listens %>
</p>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
