<p id="notice"><%= notice %></p>

<h1>Listing Airings</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Listens</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @airings.each do |airing| %>
      <tr>
        <td><%= airing.start_time %></td>
        <td><%= airing.end_time %></td>
        <td><%= airing.listens %></td>
        <td><%= link_to 'Show', airing %></td>
        <td><%= link_to 'Edit', edit_airing_path(airing) %></td>
        <td><%= link_to 'Destroy', airing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Airing', new_airing_path %>
