<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @airing.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @airing.end_time %>
</p>

<p>
  <strong>Listens:</strong>
  <%= @airing.listens %>
</p>

<%= link_to 'Edit', edit_airing_path(@airing) %> |
<%= link_to 'Back', airings_path %>
