<div class="container">
<p id="notice"><%= notice %></p>
</div>

<div class="container">
  <h1 class="text-center">All Shows on WJRH</h1>
<div class="row">
    <% @shows.order(title: :asc).each_slice(4) do |show_row| %>
    
      <% show_row.each do |show| %>
      <div class="col-sm-3">
        <img src="http://placehold.it/300x200" class="img-responsive" alt="Responsive image">

        <h3><%= link_to(show.title, show_path(show), html_options = {}) %><br>

          <small><%= show.djs.map(&:dj_name).join(", ") %></small>
        </h3>

        <p>
          <%= link_to "edit",  edit_show_path(show), class: "btn btn-default btn-xs", role: "button" %>
          <%= link_to "delete", show, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs", role: "button" %>
           <%= link_to "new episode", new_show_episode_path(show), class: 'btn btn-default btn-xs' %>
        </p>

      </div>
      <% end %>
    <% end %>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <%= button_to "Create new Show", new_show_path(), :method => :get, class: 'btn btn-primary btn-block btn-lg' %>
 </div>
</div>


</div>

